body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}



h1,h2{
    border: 5px outset cadetblue;
    height: 100px;
    width: 500px;

}


h1{
    padding:50px;
    margin:50px;
}
