hr{
    width: 700px;
    border: 2px dotted black;
    margin-left:0px;
}



.box1{
    width: 700px;
    border: 10px inset cadetblue;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.box2{
    width: 700px;
    border: 10px outset cadetblue;
    padding: 30px;
    box-sizing:border-box;

}

