div{
    font-size: 25px;
    border: 5px inset cadetblue;
    /* width: 50%;   ---------------> By default border width takes full webpage i.e(100%) */


}

p{
    font-size: 200%;
    border: 3px inset chocolate;
    margin:10px;
    width: 50%;
    background-color: azure;
    /* margin-left: 25%; */
    /* text-align: center; */
    
}