/* h1{
    border:5px inset cadetblue;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

} */


/* h1{
    border:5px inset chocolate;
    padding: 100px;
    margin:100px;
} */


/* h1{
    border:5px outset chartreuse;
    padding:50px 100px;
    margin:50px 100px;
} */



/* h1{
    border: 5px inset cornflowerblue;
    padding: 50px 100px 50px 100px;
    margin:50px 100px 50px 100px;
} */






/* h1{
    text-align: center;
} */



/* h1{
    border: 5px outset cadetblue;
    width: 500px;
} */



/* h1{
    border: 5px outset cadetblue;
    width: 400px;
    margin:100px auto;
} */
