div{
    margin: 20px;
}
nav li{
    display: inline-block;
    border-bottom: 1px solid black; 
    margin:12px 20px;
        
}

nav{
    background-color:lightgrey;
    height: 45px;
    margin: 15px 15px;
}

nav ul{
    text-align: center;
    
}

h1,h2,h3{
    border-bottom: 1px solid black;
}

a{
    color:black;
    text-decoration: none;
}
